body {
    background-color: #14181c;
    color: #9ab;
    margin: 0;
    border: 0;
    padding: 0;
}


.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}

header {
    display: flex;
    width: 1200px;
    position: static;
}

h2 {
    color: white;
}

.logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLogo {
    width: 90px;
    height: 80px;
}

.pesquisa {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form button {
    border: none;
    background: none;
    color: #8b8ba7;
}

/* styling of whole input container */
.form {
    --timing: 0.3s;
    --width-of-input: 600px;
    --height-of-input: 40px;
    --border-height: 2px;
    --input-bg: #fff;
    --border-color: #2f2ee9;
    --border-radius: 30px;
    --after-border-radius: 1px;
    position: relative;
    width: var(--width-of-input);
    height: var(--height-of-input);
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: var(--border-radius);
    transition: border-radius 0.5s ease;
    background: var(--input-bg, #fff);
}

/* styling of Input */
.input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

/* styling of animated border */
.form:before {
    content: "";
    position: absolute;
    background: var(--border-color);
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: var(--border-height);
    left: 0;
    bottom: 0;
    border-radius: 1px;
    transition: transform var(--timing) ease;
}

/* Hover on Input */
.form:focus-within {
    border-radius: var(--after-border-radius);
}

input:focus {
    outline: none;
}

/* here is code of animated border */
.form:focus-within:before {
    transform: scale(1);
}

/* styling of close button */
/* == you can click the close button to remove text == */
.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
.form svg {
    width: 17px;
    margin-top: 3px;
}

.login {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttonLogin {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #243479;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.buttonLogin:hover {
    background: #2d3842;
    box-shadow: 0 0 30px 5px rgba(0, 42, 70, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.buttonLogin:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.buttonLogin::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 30px 20px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.buttonLogin:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.SeparaButton {
    padding-left: 10px;
    padding-right: 10px;
}

.especifacao {
    padding: 0px 10px 0px 10px;
    display: flex;
}

.detalhes {
    display: flex;
    flex-wrap: wrap;
    width: 1200px;
}

.Separaespecifacao {
    padding-left: 0px;
    width: 60%;
}

.TrailerIframe {
    width: 40%;
    padding: 10px 50px 50px 50px;
}

p {
    width: 400px;
}

.imgfilme {
    width: 260px;
    height: 355px;
    padding-top: 30px;
}

.iframe {
    width: 1200px;
}

.perfil {
    width: 60px;
    height: 60px;
    border-radius: 50px;
}

.ava {
    width: 70px;
    height: 20px;
}

.ava2 {
    width: 83px;
    height: 26px;
}

.user {
    display: flex;
    flex-wrap: wrap;
}

.separauser {
    display: flex;
}

h4 {
    padding-left: 10px;
}

.comentario-user {
    width: 1200px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
}

.sepraFooter {
    display: flex;
    flex-wrap: wrap;
}

footer p {
    margin: 0;
}

footer p:first-child {
    font-size: 0.8rem;
}

footer p:last-child {
    font-size: 0.7rem;
}